{% extends 'base/baseForLogined.html' %}
{% load static %}

{% block extrahead %}

     <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
     <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
     <script src="{% static 'JS/searchImagesResults.js' %}"></script>

{% endblock %}

{% block content %}

    <table name="tableImages">

    {% for i,j in dictionnaryImages.items %}

        <tr>

            <td><img src="{{ j.0 }}"></td> 
            <td><span name="Description">Description:</span> {{ j.1 }} <br>
            <span name="Microscopy">Microscopy:</span> {{ j.2 }} <br>
            <span name="Cell_type">Cell Type:</span> {{ j.3 }} <br>
            <span name="Component">Component:</span> {{ j.4 }} <br>
            <span name="doi">doi:</span> {{ j.5 }} <br>
            <span name="Organism">Organism:</span> {{ j.6 }}
            </td>

        </tr>


    {% endfor %}

    </table>

{% endblock %}