{% extends 'base/baseForLogined.html' %}
{% load static %}


{% block extrahead %}

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="{% static 'JS/searchImages.js'%}"></script>
   
{% endblock %}



{% block content %}

    <form method="POST">
        {% csrf_token %}
        {{ formsearchBar.listbox}}
    </form>

    <form method="POST">
        {% csrf_token %}
        {{ form.searchBar }} <button type="submit">Search</button>

    </form>

    <script type="text/javascript">
        $("select[name='listbox']").change(function(){
            var category = $(this).val();

            $.ajax({
                headers: { "X-CSRFToken": $.cookie("csrftoken") },
                url: "{% url 'autocompleteImageSearchBar' %}",
                type: 'POST',
                data: { 'category': category,},
                dataType: 'json',
                success: function(dataresponse){
                    $("input[name='searchBar']").autocomplete({
                        source: dataresponse
                    });
                }

            });

        });
    </script>


{% endblock %}