a:link{
    text-decoration:none;
}

a:hover{
    text-decoration: underline;
}

.header{
    background-color: white;
    position:absolute;
    left:0%;
    width:100%;
    height:1%;
    /*left:0px;
    top:0px; 
    height:100px;*/
    z-index:0;
    margin:auto;
}

.logoleft{
    position: absolute;
    top:100%;
    left:0.5%;
    /* top:10px;
    left:3px;
    height:92px;*/
}

.logoright{
    position:absolute;
    left:95%;
    width:5%;
    z-index:0;
    top:1%;
    /* right:10px;
    width:95px;*/
}



.home{
    color:#FFA500;
    position: absolute;
    left:15%;
    top:400%;
    /* left:20px;*/
}

.register{
    color:#FFA500;
    position: absolute;
    left: 22%;
    top:400%;
    /* left:120px;*/
}

.signin{
    color:#FFA500;
    position: absolute;
    left: 29%;
    top:400%;
    /* left:220px;*/
}

.quizz{
    color:#FFA500;
    position: absolute;
    left: 22%;
    top: 400%;
    /* left: 320px; */
}

#username{
    position: absolute;
    left:90%;
    /* left:1280px;*/
    color: #383838;
    font-size: medium;
    font-weight: bold;
    top: 400%;
}


#score{
    position: absolute;
    left: 88.5%;
    top: 700%;
    color: #383838;
    font-size: medium;
    font-weight: bold;
    /* left: 1280px;
    top: 20px;*/

}

.logout{
    color: #FFA500;
    position: absolute;
    left: 28%;
    top:400%;
    /*left: 120px;*/
}

.footer{
    background-color:black;
    position: absolute;
    bottom:0%;
    width:100%;
    height:22%;
    opacity: 0.80;
    left:0px;
    z-index: 0;
    /*bottom:0px;
    width:100%;
    height:200px;
    left:0px; 
    */
}

.home-title{
    font-size:200%;
    font-weight: filled;
    position:absolute;
    font-family:Georgia, 'Times New Roman', Times, serif;
    top:10.5%;
    width:100%;
    height:5%;
    background-color: rgb(233, 177, 108);
    opacity: 0.70;
    text-align: center;
    z-index: 1;
    /* font-size:25px;
    top:100px;
    left:0px;*/
}

.first-picture{
    position:absolute;
    left:3%;
    width:13%;
    bottom:42%;
    height: 25%;
    border-radius: 100%;
    font-weight:filled;
    /* left:80px;
    width:260px;
    bottom:390px;
    height: 249px;*/
}

.title-first-picture{
    position:absolute;
    left:7%;
    bottom:36%;
    color:black;
    font-size:170%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    /* left:140px;
    bottom:360px;
    font-size:23px;
     */


}

.title-first-picture:hover{
    text-decoration: underline;
}

.first-picture:hover{
    opacity: 0.7;
}

.first-picture:hover ~ .title-first-picture{
    text-decoration: underline;
}


.second-picture{
    position:absolute;
    left:42.8%;
    width:13%;
    bottom:42%;
    height: 26%;
    border-radius: 100%;
    /*  left:818px;
    width:250px;
    bottom:405px;
    height: 242px;
    */
}

.second-picture:hover{
    opacity: 0.7;
}

.second-picture:hover ~ .title-second-picture{
    text-decoration: underline;
}

.title-second-picture{
    position:absolute;
    left:47.5%;
    bottom:37.5%;
    color:black;
    font-size:170%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    /* left:912px;
    bottom:360px;
    font-size:23px;
     */
}

.title-second-picture:hover{
    text-decoration: underline;
}


.third-picture{
    position: absolute;
    width:13%;
    bottom:43%;
    height:24%;
    border-radius:100%;
    left: 81%;
    /* width:240px;
    bottom:413px;
    height:225px;
    left: 1560px;
    */


}

.third-picture:hover{
    opacity: 0.7;
}

.third-picture:hover ~ .title-third-picture{
    text-decoration: underline;
}


.title-third-picture{
    position:absolute;
    left:85%;
    bottom:37.5%;
    color:black;
    font-size:170%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    /*  left:1636px;
    bottom:357px;
    font-size:23px;
    */
}

.title-third-picture:hover{
    text-decoration: underline;
}


body{
    background-color: #F0F0F0;
    z-index:0;
}


#title-signin{
    position: absolute;
    left:800px;
    top: 0px;
}


.pageShapeLogin{
    position: absolute;
    bottom:28%;
    left:36.5%;
    width:26.5%;
    height: 47.5%;
    border-radius: 10%;
    background: white;
    opacity:1;
    border: thin solid #F0F0F0 ;
    z-index: 1;
    /* bottom:240px;
    left:700px;
    width:500px;
    height: 460px;
    border-radius: 50px;*/
}


.bodyOfPage{
    position: absolute;
    width:100%;
    height: 63%;
    background: #F0F0F0 ;
    bottom: 10%;
    left:0%;
    opacity: 0.5;
}



.pageShapeRegister{
    position: absolute;
    bottom:23%;
    left:35%;
    width:31%;
    height: 560px;
    border-radius: 10%;
    background: white;
    opacity:1;
    border: thin solid #F0F0F0;
    z-index: 1;
    /* 
    bottom:215px;
    left:670px;
    width:600px;
    height: 560px;
    border-radius: 50px;*/
}

.pictureMicroscopyChoice{
    position: absolute;
    bottom: 35%;
    height: 32%;
    width: 16%;
    left: 17%;
    border-radius: 10%;
    /*bottom: 330px;
    height: 300px;
    width: 300px;
    left: 320px;
    border-radius: 170px; */
}

.pictureCellularComponentChoice{
    position: absolute;
    bottom: 35%;
    height: 31%; 
    width: 16%; 
    left: 67%;
    border-radius: 50%;
    /* bottom: 330px;
    height: 300px; 
    width: 300px; 
    left: 1285px;
    border-radius: 170px;*/
}

.textPictureMicroscopyChoice{
    position: absolute;
    bottom: 26%;
    left: 22%;
    font-size:170%;
    font-family:Georgia, 'Times New Roman', Times, serif
}

.textCellularComponentChoice{
    position: absolute;
    bottom: 26%; 
    left:70.5%;
    font-size:170%;
    font-family:Georgia, 'Times New Roman', Times, serif
}

.textPictureMicroscopyChoice:hover{
    text-decoration:underline;
}

.textCellularComponentChoice:hover{
    text-decoration: underline;
}

.pictureCellularComponentChoice:hover{
    opacity:0.5;
}

.pictureMicroscopyChoice:hover{
    opacity: 0.5;
}

.pictureCellularComponentChoice:hover ~ .textCellularComponentChoice{
    text-decoration: underline;
}

.pictureMicroscopyChoice:hover ~ .textPictureMicroscopyChoice{
    text-decoration: underline;
}

.table{
    position: absolute;
    bottom: 50%
}

