{% extends 'base/base.html' %}
{% load static %}


{% block content %}

<div class="home-title">Not registered again, please register to make quizz</div>
	<img class="first-picture" src="{% static "images/registerhere.jpg"%}">
	<img class="second-picture" src="{% static "images/formulaire.png"%}">
	<img class="third-picture" src="{% static "images/trophee.jpg"%}">
	
	
	<div class="title-first-picture">Register</div>
	<div class="title-second-picture">Quizz</div>
	<div class="title-third-picture">Classment</div>


<!-- Login Formular -->

<div class="formul"></div>

<!-- Login Formular-->

{% endblock content %}
