{% load static %}
<!DOCTYPE HTML> 

<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static "css/baseForQuizz.css" %}?{% now "U"%}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
	
	

	{% block extrahead %}
		<script src="{% static "JS/jquery/jquery-3.5.1.min.js" %}"></script>
		<script src="{% static "JS/modifingLogin.js" %}"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
	{% endblock %}
	
	

</head>


<body>
	<div class="header">
		<img class="logoleft" src="{% static "images/logo.png" %}">
		<a class="home" href="{% url 'SignedIn'%}">Home</a>
		<a class="logout" href="{% url 'logout' %}">Log out</a>
		<a class="quizz" href="{% url 'QuizzChoice' %}">Quizz</a>
        <p id = 'username'>{{ request.user.username }}</p>
        <p id="score">Score: {{ score }}</p>
		<img class="logoright" src="{% static "images/userpicture.png" %}">
	</div>

	{% block content %}

	{% endblock %}
	

	

</body>